# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.dev

# vercel
.vercel

# strapi-cms
strapi-cms/.env
strapi-cms/.tmp
strapi-cms/.cache
strapi-cms/dist
strapi-cms/build
strapi-cms/exports
strapi-cms/node_modules
strapi-cms/public/uploads/*
!strapi-cms/public/uploads/.gitkeep
strapi-cms/src/plugins/fontawesome-strapi/node_modules
