HOST=0.0.0.0
PORT=1337
APP_KEYS=testkey1,testkey2,testkey3,testkey4
ADMIN_JWT_SECRET=testsecret
API_TOKEN_SALT=testsalt
TRANSFER_TOKEN_SALT=testsalt
USERS_PERMISSIONS_JWT_SECRET=testsecret
DATABASE_URL=postgresql://strapi:strapi@localhost:5432/strapi
# The following are only needed in production
# Media is stored on the filesystem in development
#CLOUDINARY_NAME=
#CLOUDINARY_KEY=
#CLOUDINARY_SECRET=
