@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";


nav { 
    flex-flow: row wrap;
}
body{
    background-color: #1c1c27;
    color: #fffdff;
}

.hero{
    height: 20vh;
}